
* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #6C7A89;
    border: 0px solid;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    padding: 0;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    margin-top: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}
.formBotao form{   
    width: 45%;
}
.formBotao{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    width: 100px;
    gap: 5px;
}
.formBotao input {
    display: inline;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    text-align: center;
    transition: all linear 160ms;
    outline: none;
}
.formBotao input:focus {
    border: 1px solid #1f1f1e;
}
.formLogin input:focus {
    border: 1px solid #1f1f1e;
}

.areaLogin img {
    width: 420px;
}

h1 {
    text-align: center;
}

.formLogin h1 {
    padding: 0;
    margin: 0px;
    font-weight: 500;
    font-size: 2.3em;

}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.botao {

    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    margin-bottom: 10px;
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    flex-direction: row;
    margin-top: 100px;
    margin-left: -7px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6C7A89;

}
#tabela th{
    height: 50px;
    text-align: center;
}
td {
    border-left: none;
    border-right: none;
    height: 50px;
    
    vertical-align: bottom;
}
th {
    background-color: #929292;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #f5f5f5}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    text-align: center;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}


.box {
    padding: 10px;
    border-radius: 10px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    width: auto;
    height: auto;
    background: #fff;
}

.botao a:hover {
    background-color: #ffffff;
    color: #000000;
}

.botao a {
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 1px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    background-color: #c1c0ae;
    color: #070705;
    border: 0.1px solid;
    text-decoration: none;

}

.corpo {
    padding: 10px;

}

#imagecagada {
    padding: 0px; 
    width: 100px;
}

.Titulo {
    background-color: white;
    justify-content: center;
    padding: 10px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    height: fit-content;
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: #8d8d8d;
    background-color: white;

}

.btn {
    width: auto;
    background-color: #545454;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #c0c0c0;

}